{% extends 'base.html.twig' %}

{% block title 'Modifier le cour #' ~ cour.id %}

{% block body %}
<h1>Modifier le cour #{{cour.id}}</h1>

    {{ include('pedagogie/_form.html.twig',{submitButtonText: 'Modifer'}) }}

{% endblock %}
