{% extends 'layouts/base.html.twig' %}

{% block title 'Modifier le cour #' ~ cour.id %}

{% block body %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <h1>Modifier le cour #{{cour.id}}</h1>

        {{ include('layouts/partials/_form.html.twig',{submitButtonText: 'Modifer'}) }}

    </div>
</div>
{% endblock %}
