{% extends 'base.html.twig' %}

{% block title %}Intro{% endblock %}

{% block body %}
    <div class="_intro">    
        <h1>Surveillance de l'Environnement Amazonien assisté par Satellite</h1>
        <h3>La Guyane, porte d'entrée vers l'Amazonie et les Caraïbes depuis l'espace</h3>
    </div>
{% endblock %}
