.cour img{
    width: 100%;
    height: $taille_max_img;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-out;
    &:hover {
        transform: scale(1.075);
    }
}

