// ***** VARIABLES *****

// ***** couleurs 
$gradient_blue_yellow: linear-gradient(to bottom, #16509695, #0083b395, #00b1ae95, #89d89f95, #f6f6a695);
$bleu_cnes : #165096;
$h1_color : #ffffff;
$active_color : #09c012;
$active_color_nav2 : #43655A;

// ***** variables
$taille_max_img : 300px;
