

img{
    max-width: 100%;
    height: auto;
    margin-left:auto;
    margin-right: auto;
}

.image_partenaires{
    margin: 10px;
}

.image_fond_rubrique{
    background-color: rgb(130, 130, 130);
    max-width: 300px;
}

.image_rubrique{
    max-width: 600px;
    margin-left:auto;
    margin-right: auto;
}

.vich-image {
    .form-check {
        @extend .mt-3;
    }

    img {
        @extend .mb-2;
        @extend .rounded;
        @extend .shadow;
        @extend .img-thumbnail;
    }
}
