@import "./common//global";

body{
    background-image: $gradient_blue_yellow,
        url('..\fond_ecran\fond_south_america.jpg');
    height: 100vh;
    background-attachment: fixed, fixed;
    background-repeat: no-repeat, no-repeat;
    background-position: top, top;
    background-size: cover, cover;
    background-origin: border-box;
}

h1{
    text-align: center;
    color: $h1_color;
    font-size: 48px;
}

.alert{
    padding: 10px;
    color: white;
    text-align: center;
}
.alert-success{
    background-color: green;
}
.alert-error{
    background-color: red;
}
.alert-info{
    background-color:blue ;
}

a{
    color: black;
}


.big_div{
    padding: 0 1em;
    margin: 0 auto;
    border: 2px solid rgb(0, 255, 60);
}

.form_container{
    padding: 1em 1em;
    max-width: 60rem;
    margin: 0 auto;
    border: 2px solid red;
}

.intro{
    color: $h1_color;
}