@import "./common//global";

body{
    background-image: $gradient_blue_yellow,
        url('..\fond_ecran\fond_south_america.jpg');
    height: 100vh;
    background-attachment: fixed, fixed;
    background-repeat: no-repeat, no-repeat;
    background-position: top, top;
    background-size: cover, cover;
    background-origin: border-box;
}

h1{
    text-align: center;
    color: $h1_color;
    font-size: 48px;
}

.alert{
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0;
    border: none;
    border-radius: 0;
}
.alert-success{
    background-color: green;
}
.alert-error{
    background-color: red;
}
.alert-info{
    background-color:blue ;
}

.div_centered{
    border: 3px solid blue;
    align-items: center;
    justify-content: center;
}

.imagespartenaires{
    margin: 10px;
    border: 3px solid rgb(215, 25, 152);
}

a{
    color: black;
}


.form_container{
    padding: 1em 1em;
    max-width: 60rem;
    margin: 0 auto;
    border: 2px solid red;
}

.intro{
    color: $h1_color;
}