{% extends 'layouts/base.html.twig' %}

{% block title 'Créer une donnéeSeas'%}

{% block body %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <h1>Créer une donnée SEAS</h1>
        
        {{ include('layouts/partials/_form.html.twig') }}
    </div>
</div>


{% endblock %}
